<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{layout/plantilla :: head}">
    <title>tienda</title>
</head>
<body>
    <!-- Sección para el formulario de inicio de sesión -->
    <section th:fragment="login" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h4>Iniciar Sesión</h4>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/login}" method="post" class="was-validated">
                                <div class="mb-3">
                                    <label for="cedula_usuario">Cédula</label>
                                    <input type="text" class="form-control" id="cedula_usuario" name="cedula_usuario" required/>
                                </div>
                                <div class="mb-3">
                                    <label for="contrasena_cliente">Contraseña</label>
                                    <input type="password" class="form-control" id="contrasena_cliente" name="contrasena_cliente" required/>
                                </div>
                                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                            </form>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <p>¿No tienes una cuenta?  <a class="nav-menu-link nav-link" th:href="@{/Usuarios/registro}">Registrarse</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>