<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Menú</title>
    <meta charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>        
</head>
<body>
    <header th:fragment="header" class="header">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
            <div class="container">
                <a th:href="@{/}" class="navbar-brand">Admin</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{/adminCategoria/listado}">Categorias</a></li>
                        <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{/adminCliente/listado}">Clientes</a></li>
                        <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{/adminProducto/listado}">productos</a></li>
                        <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{/Usuarios/inicio}">login</a></li>
                        <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{/menu/listado}">Menu</a></li>
                    </ul>
                    <div class="col-md-3">
                        <ul class="navbar-nav">                                
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/(lang=es)}">ES</a></li>
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/(lang=en)}">EN</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <section id="main-header" class="py-2" class="bg-820f0f" text-white;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1><i class="fas fa-cog"></i>Admin</h1>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <footer th:fragment="footer" class="bg-info text-white mt-5 p-2">
        <div class="container">
            <div class="col">
                <p class="lead text-center">
                    &COPY SHOP PROYECTO
                </p>
            </div>
        </div>
    </footer>
</body>
</html>