<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Admin</title>
      
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container" style="margin-left: 300px;">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarProducto">
                            <i class="fas fa-plus"></i> Agregar
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar producto, es la ventana modal -->
        <section th:fragment="agregarProducto">
            <div id="agregarProducto" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar producto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/adminProducto/guardar}" th:object="${producto}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="id_producto">[[#{producto.id_producto}]]</label>
                                    <input type="number" class="form-control" name="id_producto" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="nombre_producto">[[#{producto.nombre_producto}]]</label>
                                    <input type="text" class="form-control" name="nombre_producto" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="precio_producto">[[#{producto.precio_producto}]]</label>
                                    <input type="text" class="form-control" name="precio_producto" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="cantidad_producto">[[#{producto.cantidad_producto}]]</label>
                                    <input type="text" class="form-control" name="cantidad_producto" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{producto.imagen_producto}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>                        


                                <div class="mb-3">
                                    <label for="id_categoria">[[#{producto.id_categoria}]]</label>
                                    <select class="form-select"  aria-label="Large select example" name="id_categoria" required="true">
                                        <option th:each="categoria : ${categorias}" th:value="${categoria.id_categoria}">[[${categoria.nombre_categoria}]]</option>

                                    </select>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad producto -->
        <section th:fragment="listadoProducto" id="productos" >
            <div class="container" style="margin-left: 300px;">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{producto.listado}]]</h4>
                            </div>
                            <div th:if="${productos != null and !productos.empty}">
                                <table class="table table-striped table-hover text-center">
                                    <thead class="table-dark">
                                        <tr><th>[[#{producto.id_producto}]]</th>
                                            <th>[[#{producto.nombre_producto}]]</th>
                                            <th>[[#{producto.precio_producto}]]</th>
                                            <th>[[#{producto.cantidad_producto}]]</th>
                                            <th>[[#{producto.imagen_producto}]]</th>
                                            <th>[[#{producto.id_categoria}]]</th>

                                            <th>[[#{producto.accion}]]</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="producto, contador : ${productos}">
                                            <td th:text="${producto.id_producto}"></td>
                                            <td th:text="${producto.nombre_producto}"></td>
                                            <td th:text="${producto.precio_producto}"></td>
                                            <td th:text="${producto.cantidad_producto}"></td>
                                            <td><img th:src="${producto.imagenfile}" alt="your image" height="50"/>
                                            </td>

                                            <td th:text="${producto.id_categoria.id_categoria}"></td>

                                            <td><a th:href="@{/adminProducto/eliminar/}+${producto.id_producto}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/adminProducto/modifica/}+${producto.id_producto}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarProducto">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/adminProducto/guardar}" 
                          th:object="${producto}"
                          class="was-validated"                          
                          enctype="multipart/form-data">

                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="id_producto">[[#{producto.id_producto}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="id_producto" th:field="*{id_producto}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="nombre_producto">[[#{producto.nombre_producto}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre_producto" th:field="*{nombre_producto}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="precio_producto">[[#{producto.precio_producto}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="precio_producto" th:field="*{precio_producto}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="cantidad_producto">[[#{producto.cantidad_producto}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="cantidad_producto" th:field="*{cantidad_producto}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{producto.imagen_producto}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${producto.imagenfile}}" alt="your image" height="200"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="id_categoria">[[#{producto.id_categoria}]]</label>
                                                    <select class="form-select"  aria-label="Large select example" name="id_categoria" required="true">
                                                        <option th:each="categoria : ${categorias}" th:value="${categoria.id_categoria}">[[${categoria.nombre_categoria}]]</option>

                                                    </select>
                                                </div>


                                            </div>
                                            <section th:replace="~{adminProducto/fragmentos :: botonesEditar}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/adminProducto/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/adminProducto/eliminar/}+${producto.id_producto}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>