<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Admin</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container" style="margin-left: 300px;">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarCliente">
                            <i class="fas fa-plus"></i> Agregar
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar cliente, es la ventana modal -->
        <section th:fragment="agregarCliente">
            <div id="agregarCliente" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar cliente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/cliente/guardar}" th:object="${cliente}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="cedula_usuario">[[#{cliente.cedula_usuario}]]</label>
                                    <input type="number" class="form-control" name="cedula_usuario" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="nombre_cliente">[[#{cliente.nombre_cliente}]]</label>
                                    <input type="text" class="form-control" name="nombre_cliente" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="apellido_cliente">[[#{cliente.apellido_cliente}]]</label>
                                    <input type="text" class="form-control" name="apellido_cliente" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="correo_cliente">[[#{cliente.correo_cliente}]]</label>
                                    <input type="text" class="form-control" name="correo_cliente" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="contrasena_cliente">[[#{cliente.contrasena_cliente}]]</label>
                                    <input type="text" class="form-control" name="contrasena_cliente" required="true"/>
                                </div>
                                 <div class="mb-3">
                                    <label for="direccion_cliente">[[#{cliente.direccion_cliente}]]</label>
                                    <input type="text" class="form-control" name="direccion_cliente" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="activo">[[#{cliente.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad cliente -->
        <section th:fragment="listadoCliente" id="clientes">
            <div class="container" style="margin-left: 300px;">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{cliente.listado}]]</h4>
                            </div>
                            <div th:if="${clientes != null and !clientes.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>[[#{cliente.cedula_usuario}]]</th>
                                            <th>[[#{cliente.nombre_cliente}]]</th>
                                            <th>[[#{cliente.apellido_cliente}]]</th>
                                            <th>[[#{cliente.correo_cliente}]]</th>
                                            <th>[[#{cliente.contrasena_cliente}]]</th>
                                            <th>[[#{cliente.direccion_cliente}]]</th>
                                            <th>[[#{cliente.activo}]]</th>
                                            <th>[[#{cliente.accion}]]</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cliente, contador : ${clientes}">
                                            <td th:text="${cliente.cedula_usuario}"></td>
                                            <td th:text="${cliente.nombre_cliente}"></td>
                                            <td th:text="${cliente.apellido_cliente}"></td>
                                            <td th:text="${cliente.correo_cliente}"></td>
                                            <td th:text="${cliente.contrasena_cliente}"></td>
                                            <td th:text="${cliente.direccion_cliente}"></td>
                                            <td th:text="${cliente.activo} ? 'Activa' : 'Inactiva'"/> 
                                            <td><a th:href="@{/adminCliente/eliminar/}+${cliente.cedula_usuario}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/adminCliente/modifica/}+${cliente.cedula_usuario}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${clientes == null or clientes.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
          <section th:fragment="editarCliente">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/adminCliente/guardar}" 
                          th:object="${cliente}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                      
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="cedula_usuario">[[#{cliente.cedula_usuario}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="cedula_usuario" th:field="*{cedula_usuario}"
                                                           required="true">
                                                </div>
                                                 <div class="mb-3">
                                                        <label for="nombre_cliente">[[#{cliente.nombre_cliente}]]</label>
                                                        <input type="text" class="form-control" 
                                                               name="nombre_cliente" th:field="*{nombre_cliente}"
                                                               required="true">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="apellido_cliente">[[#{cliente.apellido_cliente}]]</label>
                                                        <input type="text" class="form-control" 
                                                               name="apellido_cliente" th:field="*{apellido_cliente}"
                                                               required="true">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="correo_cliente">[[#{cliente.correo_cliente}]]</label>
                                                        <input type="text" class="form-control" 
                                                               name="correo_cliente" th:field="*{correo_cliente}"
                                                               required="true">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="contrasena_cliente">[[#{cliente.contrasena_cliente}]]</label>
                                                        <input type="text" class="form-control" 
                                                               name="contrasena_cliente" th:field="*{contrasena_cliente}"
                                                               required="true">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="direccion_cliente">[[#{cliente.direccion_cliente}]]</label>
                                                        <input type="text" class="form-control" 
                                                               name="direccion_cliente" th:field="*{direccion_cliente}"
                                                               required="true">
                                                    </div>
                                                <div class="mb-3">
                                                    <label for="activo">[[#{cliente.activo}]]</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                              
                                            </div>
                                            <section th:replace="~{adminCliente/fragmentos :: botonesEditar}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/adminCliente/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/adminCliente/eliminar/}+${cliente.cedula_usuario}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>