<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>admin</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
  <aside th:replace="~{layout/plantilla :: aside}"/>
        <section th:replace="~{adminCliente/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{adminCliente/fragmentos :: agregarCliente}"/> 
        <section th:replace="~{adminCliente/fragmentos :: listadoCliente}"/>

        <footer th:replace="~{layout/plantilla :: footer}"/>      
      
    </body>
</html>